VITE_SUPABASE_URL=https://ifboittrwvaylwvpckda.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlmYm9pdHRyd3ZheWx3dnBja2RhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY3MDkzNDUsImV4cCI6MjA3MjI4NTM0NX0.iuK6335OLedB7_RuPXM-FWkZOClDNB2OwYS1iHpfSp0KEY>